[Interface]
Address = {{ wireguard_network | next_nth_usable(item | int + 1) | ipsubnet }}
DNS = {{ wireguard_dns }}
PrivateKey = {{ wireguard_peers[item - 1].private_key }}

[Peer]
PublicKey = {{ wireguard_server.public_key }}
AllowedIPs = 0.0.0.0/0
Endpoint = vpn.{{ domain_public }}:{{ wireguard_port }}
PersistentKeepalive = 25
