[Interface]
PrivateKey = {{ wireguard_server.private_key }}
Address = {{ wireguard_network }}
ListenPort = {{ wireguard_port }}

PostUp = iptables -t nat -A POSTROUTING -s {{ wireguard_network }} -o eth0 -j MASQUERADE
PostDown = iptables -t nat -D POSTROUTING -s {{ wireguard_network }} -o eth0 -j MASQUERADE

{% for i in range(wireguard_peers | length) %}
[Peer]
PublicKey = {{ wireguard_peers[i].public_key }}
AllowedIPs = {{ wireguard_network | next_nth_usable(i + 2) | ipsubnet }}
Endpoint = vpn.{{ domain_public }}:{{ wireguard_port }}

{% endfor %}
