---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - jackett
  - radarr
  - sonarr
  - rtorrent
  - jellyfin
  - tdarr
  - lgtv-tbc

configMapGenerator:
  - files:
      - tdarr_connect.sh=tdarr_connect.sh
    name: tdarr-connect
    namespace: media
    options:
      annotations:
        kustomize.toolkit.fluxcd.io/substitute: disabled
      disableNameSuffixHash: true
