---

# Create a ZFS volume to be used for time machine backups, set its size limit
# to 2TB (double the size of the MacBook SSD) so that time machine actually
# detects space running out.
# No encryption here as the backups themselves are encrypted.
- name: Time Machine zfs dataset
  zfs:
    name: tank/TimeMachine
    state: present
    extra_zfs_properties:
      refquota: "2001111162552"   # 1.82TiB or 2TB
      # Moving forward this should be used for better compatibility with MacOS
      # clients as they expect to store xattr-based metadata and POSIX ACLs
      # aclmode: "passthrough"
      # acltype: "posixacl"
      # xattr: "sa"

# Create a unix group that allows access to the time machine volume, anyone in
# this group is able to use the volume for backups.
- name: Time Machine group
  group:
    name: timemachine
    system: true

# Actually associate the group with the volume, giving group write access too.
- name: Time Machine dataset permissions
  file:
    state: directory
    path: /tank/TimeMachine
    group: timemachine
    mode: 0770

- name: Include zfs vols file
  ansible.builtin.include_vars:
    file: zfs_vols.yml
  no_log: true

# These shared folders should be writeable by group, enforce this by group ACL.
- name: Set ACLs for shared directories
  acl:
    path: /tank/{{ item }}
    state: present
    default: true
    etype: group
    permissions: rwx
  when: item is match("Downloads|Media.*")
  loop: "{{ zfs_vols.keys() }}"

# Create a unix group that allows access to the media volumes
- name: Media group
  group:
    name: media
    system: true
  register: media_group

- name: Export media group ID for use later
  ansible.builtin.set_fact:
    media_gid: "{{ media_group.gid }}"

# Pin netatalk to 3.1.12 to make sure the newer version is used and to avoid
# breaking changes. Version 2 and 3 use completely different configuration
# schemes, hence the importance of this.
- name: Install netatalk
  apt:
    pkg:
      - netatalk=3.1.12*
      - avahi-daemon

- name: Add backports apt source
  ansible.builtin.apt_repository:
    repo: deb http://archive.debian.org/debian/ {{ ansible_distribution_release }}-backports main contrib non-free
    filename: "{{ ansible_distribution_release }}-backports"

- name: Install samba
  ansible.builtin.apt:
    default_release: "{{ ansible_distribution_release }}-backports"
    pkg:
      - samba
      - samba-vfs-modules
      - smbclient

- name: Add samba avahi service
  ansible.builtin.copy:
    src: samba.service
    dest: /etc/avahi/services/samba.service
    mode: 0644
  notify: Restart avahi-daemon

# Configure AFP shares
# Configured users should be able to access their home folders on the pool
# as well as users in the timemachine group be able to use the share for time
# machine backups.
# Reference: http://netatalk.sourceforge.net/3.1/htmldocs/afp.conf.5.html
- name: Setup afp.conf
  community.general.ini_file:
    path: /etc/netatalk/afp.conf
    section: "{{ item.section }}"
    option: "{{ item.option }}"
    value: "{{ item.value }}"
    mode: 0644
  loop:
    - {section: "Global", option: "mimic model", value: "RackMac"}
    - {section: "Global", option: "fqdn", value: "nas.{{ domain_local }}"}
    - {section: "Homes", option: "basedir regex", value: "/tank/Home"}
    - {section: "Time Machine", option: "path", value: "/tank/TimeMachine"}
    - {section: "Time Machine", option: "time machine", value: "yes"}
    - {section: "Time Machine", option: "vol size limit", value: 1908736}
    - {section: "Time Machine", option: "valid users", value: "@timemachine"}
    - {section: "Media", option: "path", value: "/tank/Media"}
    - {section: "Media", option: "chmod request", value: "ignore"}
    - {section: "Media", option: "valid users", value: "@media"}
    - {section: "Downloads", option: "path", value: "/tank/Downloads"}
    - {section: "Downloads", option: "chmod request", value: "ignore"}
    - {section: "Downloads", option: "valid users", value: "@media"}
  notify: Restart netatalk

- name: Start Netatalk Services
  service:
    name: netatalk
    enabled: true
    state: started

- name: Start Avahi Services
  service:
    name: avahi-daemon
    enabled: true
    state: started
