---
apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: cert-manager
  namespace: cert-manager
spec:
  valuesContent: |-
    extraArg:
      - --dns01-recursive-nameservers-only
      - --dns01-recursive-nameservers="1.1.1.1:53,9.9.9.9:53"
