---

apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: letsenrypt-traefik
  namespace: kube-system
spec:
  dnsNames:
    - '*.kubi.{{ domain_local }}'
  secretName: letsencrypt-traefik
  issuerRef:
    name: letsencrypt
    kind: ClusterIssuer
    group: cert-manager.io

---

apiVersion: gateway.networking.k8s.io/v1alpha2
kind: Gateway
metadata:
  name: traefik
  namespace: kube-system
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt

spec:
  gatewayClassName: traefik
  listeners:
    - name: websecure
      hostname: '*.kubi.{{ domain_local }}'
      port: 8443
      protocol: HTTPS
      allowedRoutes:
        namespaces:
          from: All
      tls:
        mode: Terminate
        certificateRefs:
          - name: letsencrypt-traefik
            kind: Secret
            group: core
