apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: traefik
  namespace: kube-system
spec:
  chart: https://helm.traefik.io/traefik/traefik-10.14.1.tgz
  valuesContent: |-
    image:
      name: docker.io/library/traefik
      tag: "2.6"

    rbac:
      enabled: true
    ports:
      web:
        expose: false
        redirectTo: websecure
    podAnnotations:
      prometheus.io/port: "8082"
      prometheus.io/scrape: "true"
    providers:
      kubernetesIngress:
        publishedService:
          enabled: true
    priorityClassName: "system-cluster-critical"
    tolerations: []
    deployment:
      kind: DaemonSet
    ingressRoute:
      dashboard:
        enabled: false
    service:
      externalIPs:
        - {{ metallb_address }}
    experimental:
      kubernetesGateway:
        enabled: true
