---

luks_device: /dev/md/0p5
luks_passphrase: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          34313562306233663738306638646230623433646238353562353462613432633634616634653935
          3633356139616365643561333339653730313437663965300a646335336639626336666436343931
          64383137376633623732373165626230333931373130663739353134323839313938396239383138
          3639343663663062660a393831313233366430376438663264386438653830643736663264663030
          32306262393037633865613334383034353334626538303531306430626434373731383564666234
          3839346534643463386566343030633930646634343839653739
luks_uuid: 7e883d7b-b86d-4100-8a37-df82a739ed30
luks_target: md0p5_crypt

notroot_password: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          34306263666434393063326564626365376465396163636232613238616639613931323365363630
          3934626433653933323439386363626638636335623733370a356665613338306231313661343462
          36643566613137363862386662646465333339626633343130386364373934363861326332346437
          6434393630393132350a363739343535316336383166303333633336623737646162663636353131
          66343961323934623366316562313364646438336464303064386331323337653839

nfs_exports:
  - "/tank/Cloud      {{ ansible_facts.default_ipv4.address }}/24(rw,sync,all_squash,anonuid=33,anongid=33,mountpoint=/tank/Cloud) 127.0.0.1(rw,sync,all_squash,anonuid=33,anongid=33,mountpoint=/tank/Cloud)"
  - "/tank/Downloads  {{ ansible_facts.default_ipv4.address }}/24(rw,sync,all_squash,anongid={{ media_gid }},mountpoint=/tank/Downloads) 127.0.0.1(rw,sync,all_squash,anongid={{ media_gid }},mountpoint=/tank/Downloads)"
  - "/tank/Media      {{ ansible_facts.default_ipv4.address }}/24(rw,sync,all_squash,anongid={{ media_gid }},crossmnt,mountpoint=/tank/Media) 127.0.0.1(rw,sync,all_squash,anongid={{ media_gid }},crossmnt,mountpoint=/tank/Media)"

# We're installing newer Samba from backports to get SMB3 support.
samba_packages: []
samba_vfs_packages: []

samba_netbios_name: "{{ inventory_hostname_short | upper }}"
samba_server_string: "{{ inventory_hostname_short | upper }}"
samba_apple_extensions: true
samba_load_homes: false
samba_guest_account: nobody
samba_server_min_protocol: SMB3_11
samba_manage_directories: false
samba_shares:
  - name: Time Machine
    path: /tank/TimeMachine
    valid_users: +timemachine
    vfs_objects:
      - name: catia
      - name: fruit
        options:
          - name: time machine
            value: true
          - name: time machine max size
            value: 0
          - name: veto_appledouble
            value: "no"
          - name: wipe_intentionally_left_blank_rfork
            value: "yes"
          - name: delete_empty_adfiles
            value: "yes"
          - name: posix_rename
            value: "yes"
          - name: resource
            value: xattr
          - name: encoding
            value: native
          - name: map acl inherit
            value: "yes"
          - name: store dos attributes
            value: "yes"
          - name: metadata
            value: stream
            # After switching to POSIX ACLs
            # value: xattr
      # This should be removed when switching over to POSIX ACLs
      - name: streams_xattr
    writeable: true
    public: false
    guest_ok: false
    create_mode: "0660"
    directory_mode: "0770"
    force_create_mode: "0660"
    force_directory_mode: "0770"
  - name: Media
    path: /tank/Media
    group: media
    user: nobody
    valid_users: +media
    writeable: true
    public: false
    guest_ok: false
    create_mode: "0664"
    directory_mode: "0775"
    force_create_mode: "0664"
    force_directory_mode: "0775"
  - name: Downloads
    path: /tank/Downloads
    group: media
    user: nobody
    valid_users: +media
    public: false
    guest_ok: false
    create_mode: "0664"
    directory_mode: "0775"
    force_create_mode: "0664"
    force_directory_mode: "0775"
    writeable: true
  - name: homes
    path: /tank/Home/%S
    comment: Home Directories
    browseable: false
    writeable: true
    valid_users: "%S"
    create_mode: "0600"
    directory_mode: "0700"
    force_create_mode: "0600"
    force_directory_mode: "0700"
samba_users: "{{ users.values() }}"
samba_workgroup: "{{ site | upper }}"
samba_global_config_extras: |
  fruit:model = RackMac
  fruit:nfs_aces = no
  multicast dns register = no
  veto files = /._*/.DS_Store/
  use sendfile = yes
  server multi channel support = yes
